In [40]:
#Dependencies
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime
import re


# EXTRACTION #
---
- Define the path to the netflix_titles_csv
- Read the file and store it as a pandas dataframe

In [41]:
#Define the path to the file
netflix_data = Path("../DATA-ENGINEERING-PROJECT/Resources/netflix_titles.csv")

#read the file and store into a pandas dataframe
netflix_data_df = pd.read_csv(netflix_data )

#Take a glimpse at the dataset
netflix_data_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [42]:
#Get the summary of the dataset
netflix_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### DATA CLEANING ###
---
**In this section , we'll perform the following task.**
- remove all the null values
- Drop unwanted columns('release_year','country','duration','cast')
- remove duplicated values on the show_id column
- format the 'date_added'columns
- Rename and reorder all the columns
- save the cleaned dataframe as netflix_df.csv CSV file.

In [43]:
# Remove all the null values
cleaned_df = netflix_data_df.dropna()
cleaned_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24-Sep-21,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",23-Sep-21,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,21-Sep-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [44]:
#Get the data count
cleaned_df.count()

show_id         5332
type            5332
title           5332
director        5332
cast            5332
country         5332
date_added      5332
release_year    5332
rating          5332
duration        5332
listed_in       5332
description     5332
dtype: int64

In [45]:
#Drop unwanted columns('cast','country','release_year','duration)
reduced_df = cleaned_df[['show_id','type','title','director','date_added','rating','listed_in','description']]
reduced_df.head()

,show_id,type,title,director,date_added,rating,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,24-Sep-21,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,24-Sep-21,TV-14,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,24-Sep-21,PG-13,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,23-Sep-21,TV-MA,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,21-Sep-21,TV-14,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [46]:
#Format the date_added column and get it in the format(dd-mm-yyy)
reduced_df['date_added'] = pd.to_datetime(reduced_df['date_added'], format='mixed')
reduced_df['date_added'] = reduced_df['date_added'].dt.strftime('%Y-%m-%d')
reduced_df.head()

/var/folders/kj/4fp7n1v17g17kcnxb32c57140000gn/T/ipykernel_5195/2294782272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['date_added'] = pd.to_datetime(reduced_df['date_added'], format='mixed')
/var/folders/kj/4fp7n1v17g17kcnxb32c57140000gn/T/ipykernel_5195/2294782272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['date_added'] = reduced_df['date_added'].dt.strftime('%Y-%m-%d')

,show_id,type,title,director,date_added,rating,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,2021-09-24,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,2021-09-24,TV-14,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,2021-09-24,PG-13,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,2021-09-23,TV-MA,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,2021-09-21,TV-14,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [47]:
#Capitalize and rename the columns for a more appealing display
netflix_df = reduced_df.rename(columns = {'show_id':'Show_ID','type':'Type','title':'Title','director':'Director',
                                'date_added':'Date_Added','rating':'Rating','listed_in':'Category','description':'Description'})

netflix_df.head()

,Show_ID,Type,Title,Director,Date_Added,Rating,Category,Description
7,s8,Movie,Sankofa,Haile Gerima,2021-09-24,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,2021-09-24,TV-14,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,2021-09-24,PG-13,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,2021-09-23,TV-MA,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,2021-09-21,TV-14,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [48]:
#Re_orgorganize the columns
netflix_df = netflix_df[['Show_ID','Type','Title','Category','Date_Added','Rating','Director','Description']]
netflix_df.head()

,Show_ID,Type,Title,Category,Date_Added,Rating,Director,Description
7,s8,Movie,Sankofa,"Dramas, Independent Movies, International Movies",2021-09-24,TV-MA,Haile Gerima,"On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,"British TV Shows, Reality TV",2021-09-24,TV-14,Andy Devonshire,A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,"Comedies, Dramas",2021-09-24,PG-13,Theodore Melfi,A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,"Dramas, International Movies",2021-09-23,TV-MA,Christian Schwochow,After most of her family is murdered in a terr...
24,s25,Movie,Jeans,"Comedies, International Movies, Romantic Movies",2021-09-21,TV-14,S. Shankar,When the father of the man she loves insists t...

In [49]:
# save the cleaned dataframe as netflix_df.csv CSV file
netflix_df.to_csv("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/netflix.csv", index=False)

# TRANSFORMATION
---

### CREATE THE MOVIE DATAFRAME
**Create a movie_df dataframes that has the following colums.**
- Title_ID
- Title
- Type
- Category
- Date_Added
- Rating
- Description

In [50]:
# Create a copy of the netflix_df DataFrame and name it movie_data_df
movie_data_df = netflix_df.copy()
movie_data_df.head()

,Show_ID,Type,Title,Category,Date_Added,Rating,Director,Description
7,s8,Movie,Sankofa,"Dramas, Independent Movies, International Movies",2021-09-24,TV-MA,Haile Gerima,"On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,"British TV Shows, Reality TV",2021-09-24,TV-14,Andy Devonshire,A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,"Comedies, Dramas",2021-09-24,PG-13,Theodore Melfi,A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,"Dramas, International Movies",2021-09-23,TV-MA,Christian Schwochow,After most of her family is murdered in a terr...
24,s25,Movie,Jeans,"Comedies, International Movies, Romantic Movies",2021-09-21,TV-14,S. Shankar,When the father of the man she loves insists t...

In [51]:
# Extract the columns of interest('Type','Title','Category','Date_Added','Rating','Description')
movie_data_df  = movie_data_df[['Type','Title','Category','Date_Added','Rating','Description']]
movie_data_df.head()

,Type,Title,Category,Date_Added,Rating,Description
7,Movie,Sankofa,"Dramas, Independent Movies, International Movies",2021-09-24,TV-MA,"On a photo shoot in Ghana, an American model s..."
8,TV Show,The Great British Baking Show,"British TV Shows, Reality TV",2021-09-24,TV-14,A talented batch of amateur bakers face off in...
9,Movie,The Starling,"Comedies, Dramas",2021-09-24,PG-13,A woman adjusting to life after a loss contend...
12,Movie,Je Suis Karl,"Dramas, International Movies",2021-09-23,TV-MA,After most of her family is murdered in a terr...
24,Movie,Jeans,"Comedies, International Movies, Romantic Movies",2021-09-21,TV-14,When the father of the man she loves insists t...

In [52]:
# Get the unique titles in a list
titles = movie_data_df['Title'].tolist()
# Get the number of distinct values in the titles list.
title_count = len(titles)
# Create a numpy array of the length of the title_count list.
np_title = np.arange(1,5333)
# Use a list comprehension to add "tid" to each title.
title_id = [f'tid{x}' for x in range(1,5333)]
#create a dataframe with the title and title_id columns
title_df = pd.DataFrame({'Title_ID':title_id , 'Title':titles})
title_df.head()

  Title_ID                          Title
0     tid1                        Sankofa
1     tid2  The Great British Baking Show
2     tid3                   The Starling
3     tid4                   Je Suis Karl
4     tid5                          Jeans

In [53]:
#merge title-df and the movie_data_df into a new dataframe named movie_df
movie_df = pd.merge(title_df,movie_data_df,on='Title',how = 'right')
movie_df.head()

,Title_ID,Title,Type,Category,Date_Added,Rating,Description
0,tid1,Sankofa,Movie,"Dramas, Independent Movies, International Movies",2021-09-24,TV-MA,"On a photo shoot in Ghana, an American model s..."
1,tid2,The Great British Baking Show,TV Show,"British TV Shows, Reality TV",2021-09-24,TV-14,A talented batch of amateur bakers face off in...
2,tid3,The Starling,Movie,"Comedies, Dramas",2021-09-24,PG-13,A woman adjusting to life after a loss contend...
3,tid4,Je Suis Karl,Movie,"Dramas, International Movies",2021-09-23,TV-MA,After most of her family is murdered in a terr...
4,tid5,Jeans,Movie,"Comedies, International Movies, Romantic Movies",2021-09-21,TV-14,When the father of the man she loves insists t...

In [54]:
#export the movie_df to a csv file as movie_df.csv
movie_df.to_csv("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/movie.csv", index=False)

### CREATE THE TITLE DATAFRAME
---
**Create the titles_df dataframe that has the following columns.**
- Title_ID
- Show_ID
- Title	 
- Category

In [55]:
#import a copy of netflix_df
df1 = netflix_df.copy()
df2 = title_df.copy()

In [56]:
#merge netflix_df with title_df dataframes on title column and display 
title_data_df = pd.merge(df1 , df2, on='Title')
title_data_df.head()

,Show_ID,Type,Title,Category,Date_Added,Rating,Director,Description,Title_ID
0,s8,Movie,Sankofa,"Dramas, Independent Movies, International Movies",2021-09-24,TV-MA,Haile Gerima,"On a photo shoot in Ghana, an American model s...",tid1
1,s9,TV Show,The Great British Baking Show,"British TV Shows, Reality TV",2021-09-24,TV-14,Andy Devonshire,A talented batch of amateur bakers face off in...,tid2
2,s10,Movie,The Starling,"Comedies, Dramas",2021-09-24,PG-13,Theodore Melfi,A woman adjusting to life after a loss contend...,tid3
3,s13,Movie,Je Suis Karl,"Dramas, International Movies",2021-09-23,TV-MA,Christian Schwochow,After most of her family is murdered in a terr...,tid4
4,s25,Movie,Jeans,"Comedies, International Movies, Romantic Movies",2021-09-21,TV-14,S. Shankar,When the father of the man she loves insists t...,tid5

In [57]:
#extract and reorganize the columns 'Show_ID','Titles','Categories','Title_ID'
title_df = title_data_df[['Show_ID','Title_ID','Title','Type']]
title_df.head()

  Show_ID Title_ID                          Title     Type
0      s8     tid1                        Sankofa    Movie
1      s9     tid2  The Great British Baking Show  TV Show
2     s10     tid3                   The Starling    Movie
3     s13     tid4                   Je Suis Karl    Movie
4     s25     tid5                          Jeans    Movie

In [58]:
#export the titles_df to a csv file as titles_df.csv
title_df.to_csv("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/title.csv", index=False)

### CREATE THE DIRECTOR DATAFRAME
---
**Create the director table with the following columns**
- Show_ID
- Title
- Date_Added
- Rating
- IDs
- First_Name
- Last_Name

  The first and last name columns will derive from the Director column

In [59]:
 #Create a copy of the  DataFrame and name it director_data_df
director_data_df = netflix_df.copy()
director_data_df.head()

,Show_ID,Type,Title,Category,Date_Added,Rating,Director,Description
7,s8,Movie,Sankofa,"Dramas, Independent Movies, International Movies",2021-09-24,TV-MA,Haile Gerima,"On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,"British TV Shows, Reality TV",2021-09-24,TV-14,Andy Devonshire,A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,"Comedies, Dramas",2021-09-24,PG-13,Theodore Melfi,A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,"Dramas, International Movies",2021-09-23,TV-MA,Christian Schwochow,After most of her family is murdered in a terr...
24,s25,Movie,Jeans,"Comedies, International Movies, Romantic Movies",2021-09-21,TV-14,S. Shankar,When the father of the man she loves insists t...

In [60]:
#Extract the columns of interest
director_data_df = director_data_df[['Show_ID','Title','Rating','Date_Added','Director']]
director_data_df.head()

,Show_ID,Title,Rating,Date_Added,Director
7,s8,Sankofa,TV-MA,2021-09-24,Haile Gerima
8,s9,The Great British Baking Show,TV-14,2021-09-24,Andy Devonshire
9,s10,The Starling,PG-13,2021-09-24,Theodore Melfi
12,s13,Je Suis Karl,TV-MA,2021-09-23,Christian Schwochow
24,s25,Jeans,TV-14,2021-09-21,S. Shankar

In [61]:
#Use regex to split the values of the director column into 2 columns
#defining a function to extract values with regex
data = director_data_df['Director']
def extract_values(text):
    match_one = re.match(r'^\s*([^ ]+)' , text)
    match_two = re.search(r'([^ ]+)\s*$' , text)

    first_value = match_one.group(1) if match_one else None
    last_value = match_two.group(1) if match_two else None
    return first_value,last_value

#initiate the lists to store our values in
First_Name = []
Last_Name = []

#Applying the function to each item in the data_df and append it to our lists
for item in data:
    first_value,last_value = extract_values(item)
    First_Name.append(first_value)
    Last_Name.append(last_value)

In [62]:
#Append the new columns to director_data_df dataframe
director_data_df['First_Name'] = First_Name
director_data_df['Last_Name'] = Last_Name
director_data_df.head()

,Show_ID,Title,Rating,Date_Added,Director,First_Name,Last_Name
7,s8,Sankofa,TV-MA,2021-09-24,Haile Gerima,Haile,Gerima
8,s9,The Great British Baking Show,TV-14,2021-09-24,Andy Devonshire,Andy,Devonshire
9,s10,The Starling,PG-13,2021-09-24,Theodore Melfi,Theodore,Melfi
12,s13,Je Suis Karl,TV-MA,2021-09-23,Christian Schwochow,Christian,Schwochow
24,s25,Jeans,TV-14,2021-09-21,S. Shankar,S.,Shankar

In [63]:
#drop the director column
director_df = director_data_df[['Show_ID','Title','Date_Added','Rating','First_Name','Last_Name']]
director_df.head()

,Show_ID,Title,Date_Added,Rating,First_Name,Last_Name
7,s8,Sankofa,2021-09-24,TV-MA,Haile,Gerima
8,s9,The Great British Baking Show,2021-09-24,TV-14,Andy,Devonshire
9,s10,The Starling,2021-09-24,PG-13,Theodore,Melfi
12,s13,Je Suis Karl,2021-09-23,TV-MA,Christian,Schwochow
24,s25,Jeans,2021-09-21,TV-14,S.,Shankar

In [64]:
#create a unique id column
#Get the len of the dataframe
count_df = len(director_df)

#create a numpy array of the length of titles
np_count = np.arange(1001,6333)

#set the id format using list comprehension
id = [f'{x}' for x in range(1001,6333)]

#add the id  column to the director_df
director_df['IDs'] = id 

#display the first5 rows
director_df.head()

,Show_ID,Title,Date_Added,Rating,First_Name,Last_Name,IDs
7,s8,Sankofa,2021-09-24,TV-MA,Haile,Gerima,1001
8,s9,The Great British Baking Show,2021-09-24,TV-14,Andy,Devonshire,1002
9,s10,The Starling,2021-09-24,PG-13,Theodore,Melfi,1003
12,s13,Je Suis Karl,2021-09-23,TV-MA,Christian,Schwochow,1004
24,s25,Jeans,2021-09-21,TV-14,S.,Shankar,1005

In [65]:
#Re_organize the columns
director_df = director_df[['Show_ID','Title','Date_Added','Rating','IDs','First_Name','Last_Name']]
director_df.head()

,Show_ID,Title,Date_Added,Rating,IDs,First_Name,Last_Name
7,s8,Sankofa,2021-09-24,TV-MA,1001,Haile,Gerima
8,s9,The Great British Baking Show,2021-09-24,TV-14,1002,Andy,Devonshire
9,s10,The Starling,2021-09-24,PG-13,1003,Theodore,Melfi
12,s13,Je Suis Karl,2021-09-23,TV-MA,1004,Christian,Schwochow
24,s25,Jeans,2021-09-21,TV-14,1005,S.,Shankar

In [66]:
#Export the new dataframe as cast_df.csv to a csv file.
director_df.to_csv("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/director.csv", index=False)

---
# LOADING INTO SQLITE #
---
### First Create the collection's objects In SQLite Database

In [85]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Date

/var/folders/kj/4fp7n1v17g17kcnxb32c57140000gn/T/ipykernel_5195/2278120884.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [86]:
# Create the  class Netflix which will be our anchor
#point for the netflix table
class Netflix(Base):
     __tablename__ = 'netflix'
     Show_ID = Column(String, primary_key=True)
     Type = Column(String(10))
     Title = Column(String(255))
     Category = Column(String(255))
     Date_Added = Column(String(10))
     Rating = Column(String(10))
     Director = Column(String(255))
     Description = Column(String(255))

In [87]:
# Create the  class Movie which will be our anchor
#point for the movie table
class Movie(Base):
    __tablename__='movie'
    Title_ID = Column(String, primary_key=True)
    Title = Column(String(255))
    Type = Column(String(10))
    Category = Column(String(255))
    Date_Added = Column(String(10))
    Rating = Column(String(10))
    Description = Column(String(255))

In [88]:
# Create the  class Title which will be our anchor
#point for the title table
class Title(Base):
    __tablename__='title'
    Show_ID = Column(String(10))
    Title_ID = Column(String, primary_key=True)
    Title = Column(String(255))
    Type = Column(String(10))

In [89]:
# Create the  class Director which will be our anchor
#point for the director table
class Director(Base):
    __tablename__='director'
    Show_ID = Column(String(10))
    Title = Column(String(255))
    Date_Added = Column(String(10))
    Rating = Column(String(10))
    IDs = Column(Integer, primary_key=True)
    First_Name = Column(String(100))
    Last_Name = Column(String(100))

In [90]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///Streaming.sqlite')

In [91]:
# Create the tables within the database
Base.metadata.create_all(engine)

In [92]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind = engine)

In [93]:
# Call the Constructor to create table's objects
# Create a Specific Instance of each class.
df1 = Title(Show_ID = 's8',Title_ID = 'tid1',Title = 'Sankofa',Type = 'Movie')
df2 = Netflix(Show_ID = 's8',Type = 'Movie',Title = 'Sankofa' , Category='Dramas,Independent Movies,International Movies',\
            Date_Added = '2021-09-24',Rating = 'TV-MA',Director='Haile Gerima',Description = 'On a photo shoot in Ghana, an American model s')
df3 = Movie(Title_ID = 'tid1',Title = 'Sankofa',Type = 'Movie',Category='Dramas,Independent Movies,International Movies',
            Date_Added = '2021-09-24',Rating = 'TV-MA',Description = 'On a photo shoot in Ghana, an American model s...')
df4 = Director(Show_ID = 's8',Title = 'Sankofa', Date_Added = '2021-09-24',Rating = 'TV-MA',
            IDs = '1001',First_Name = 'Haile',Last_Name = 'Gerima')

In [94]:
# Add Records to the entertainment database
# ----------------------------------
# Use the SQL ALchemy methods to run simple "INSERT" statements using the classes and objects  
session.add(df1)
session.add(df2)
session.add(df3)
session.add(df4)
session.commit()

In [95]:
#to use only if re-running the codes
#Base.metadata.drop_all(engine)

In [96]:
#close our session
session.close()

### Second , Import CSV Files into SQLite Tables we just created
---

In [97]:
#Importing dependencies
import pandas as pd
import sqlite3
import sqlalchemy
from pathlib import Path

In [98]:
#Create a connection to our database
conn = sqlite3.connect('/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/streaming.sqlite')

In [99]:
#define the path to our csv files
df1 = Path("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/netflix.csv")
df2 = Path("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/movie.csv")
df3 = Path("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/title.csv")
df4 = Path("/Users/francoiseelismbazoaokala/Documents/projects/DATA-ENGINEERING-PROJECT/output_files/director.csv")

In [100]:
#read the csv files
data1 = pd.read_csv(df1)
data2 = pd.read_csv(df2)
data3 = pd.read_csv(df3)
data4 = pd.read_csv(df4)

In [101]:
#load the files to sqlite3
#Insert data into the existing collections
data1.to_sql('netflix' , conn ,if_exists = 'replace' ,index = False)
data2.to_sql('movie' , conn ,if_exists = 'replace' ,index = False)
data3.to_sql('title', conn ,if_exists = 'replace' ,index = False)
data4.to_sql('director' , conn ,if_exists = 'replace' ,index = False)

5332

In [102]:
conn.close()

---
# ENTITY RELATIONSHIP DIAGRAM (ERD)
---
We'll use Pandaserd for this portion.
after running the codes,pandas_erd will print an output file and save it in the same directory holding the jupiter notebook.to view the ERD drawing, all we have to do is to copy the content of the output file ,visit https://edotor.net/ from the link printed at the bottom of the codes paste it there and run it.The ERD will print on the right of the screen.

In [107]:
import pandas as pd
from pandas_erd import PandasERD

df1 = netflix_df
df1.columns = ['Show_ID','Type','Title','Category','Date_Added','Rating','Director','Description']
df2 = movie_df
df2.columns = ['Title_ID','Title','Type','Category','Date_Added','Rating','Description']
df3 = title_df
df3.columns = ['Show_ID','Title_ID','Title','Type']
df4 = director_df
df4.columns = ['Show_ID','Title','Date_Added','Rating','IDs','First_Name','Last_Name']



erd = ERD()
t1 = erd.add_table(df1, 'netflix', bg_color='gold')
t2 = erd.add_table(df2, 'movie', bg_color='skyblue')
t3 = erd.add_table(df3, 'title', bg_color='lightblue')
t4 = erd.add_table(df4, 'director', bg_color='lightyellow')
erd.create_rel('netflix', 'director', on='Show_ID', 
               right_cardinality='+',left_cardinality='*')
erd.create_rel('netflix', 'title', on='Show_ID', 
               left_cardinality='+', right_cardinality='+')
erd.create_rel('movie','title' ,on = 'Title_ID', 
               left_cardinality='+', right_cardinality='+')

erd.write_to_file('output.txt')

ModuleNotFoundError: No module named 'pandas_erd'